  .container {
    background: lightblue;
    padding: 16px;
    border: 4px;
    gap: 8px;
    display: flex;
    margin: 10px;

                    /*margin = around the Box. Margin makes spaces Left, Right, Bottom & Top of the actual Box.
                    margin-left, right, top, bottom (P.S. It's transparent and you can't color a margin*/
  }
  .container div {
    background: peachpuff; 
    border: 4px solid blue; /*Border = A border that goes around the padding and content*/
    height: 48px;
    text-align:center;
    font-size: 30px;
    flex: 1;

  }

  
  .flex-container {
  
    font-size: 20px;
    text-align: center;
    padding: 16px;      /*padding = Clears an area around the content. The padding is transparent */
    gap: 10px;
    display: flex;    

  }
  
  .flex-container > div {
    background: peachpuff;
    border: 4px solid brown;
    flex: 1;  
                    /*flex: 1  = it works like a hybrid. When You make the page smaller or bigger, 
                    it makes the Items, content or The box get larger or smaller too with the page  */
  }
  .flex-container > .two {      
                    /*the .flex-container (box) + .two (item) combined, 
                    are more specific than for example (.flex-container) 
                    alone or (.two) alone --- CSS SELECTORS!!!*/

    flex: 2 ;

                    /*the flex 2 makes an item or content from the box twice as big. 
                    or flex 3 = 3x... and so on.*/
    color: darkmagenta;
    
    }
    .advertisement {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
    }
    
    .advertisement img {
      max-width: 50%;
    }
    
    .advertisement h2 {
      font-size: 24px;
      margin-top: 10px;
    }
    
    .advertisement p {
      font-size: 16px;
      margin-top: 10px;
    }

/*flex = flexible*/

/*         
    flex: 1 1 0; equivalent to

        flex-grow: 1;
            flex-shrink: 1; shrinks all items at an equal rate
                flex-basis: 0;
*/

